.aboutMe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LanguagesAndTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 75%;
    height: auto;
}
header {
    position: sticky;
    top: 0;
    background-color:cornflowerblue;
}
.tictactoe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}
.pacman {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}

@media (min-width: 768px) 
{
    .aboutMe {
        flex-direction: row-reverse;
    }
    .LanguagesAndTools {
        flex-direction: row-reverse;
    }
    .languages {
        display: flex;
        flex-direction: column;
    }
    .tools {
        display: flex;
        flex-direction: column;
    }
    .languagesandtoolstext {
        display: flex;
    }
    .image2 {
        width: 50%;
    }
    .cvimg{
        width: 50%;
    }
    .tictactoe{
        flex-direction: row;
    }
    .pacman{
        flex-direction: row;
    }
}

@media (min-width: 1025px)
{
    .image2 {
        width: 75%;
    }
    .cvimg{
        width: 75%;
    }
        .projectimgs {
        width: 75%;
    }

}
