.aboutMe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LanguagesAndTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 75%;
    height: auto;
}
header {
    position: sticky;
    top: 0;
    background-color:cornflowerblue;
}
.tictactoe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}
.pacman {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}
.back-button {
  display: inline-block;
  padding: 0.625rem 0.938rem;
  background-color: #f4f4f4;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  text-decoration: none;
  color: #333;
}
.back-button:hover {
  background-color: #e0e0e0;
}

@media (min-width: 768px) 
{
    .aboutMe {
        flex-direction: row-reverse;
    }
    .LanguagesAndTools {
        flex-direction: row-reverse;
    }
    .languages {
        display: flex;
        flex-direction: column;
    }
    .tools {
        display: flex;
        flex-direction: column;
    }
    .languagesandtoolstext {
        display: flex;
    }
    .image2 {
        width: 50%;
    }
    .cvimg{
        width: 50%;
    }
    .Projects {
        flex-direction: row;
    }

}

@media (min-width: 1025px)
{
    .image2 {
        width: 75%;
    }
    .cvimg{
        width: 75%;
    }
    .projectimgs {  
        width: 75%;
    }
    .ttt {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .pacmansite {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .tttimgs {
        width: 50%;
    }
    .pacmanimgs {
        width: 50%;
    }
}
